# Current configuration is in appsettings.json.
# .NET automatically overrides appsettings values with environment variables
# using the double underscore notation: Section__Key

ConnectionStrings__DefaultConnection="Host=...;Database=...;Username=...;Password=...;"
Jwt__Key="SourceBase_Super_Secret_Key_For_JWT_Authentication_Length"
Jwt__Issuer="SourceBaseAPI"
Jwt__Audience="SourceBaseClient"

# To use these, export them in your shell or use a tool like 'dotenv'
